

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 800;
    font-size: 30px;
    background-color: #a9b6be;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.head {
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
    text-shadow:red 2px 5px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    gap: 50px;
}
#img-one {
    width: 94px;
    height: 94px;
    object-fit: cover;
    background-size: cover;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}
.buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.user-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
#comp-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
h4 {
    margin: 0px;
}
.score {
    display: flex;
    gap: 10px;
    border: 4px solid black;
    padding: 9px;
}
#win-element {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 300px;
    height: 50px;
}
#rock {
    background-image: url('images/rock-anm.gif');
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    cursor:pointer;
}

#rock:active {
    background-color: #ffffff;
    box-shadow: 0 5px #404142;
}
#rock:hover {
    border: 5px solid red;
    transform: scale(1.2);
}
#paper {
    background-image: url('images/paper-anm.gif');
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    cursor:pointer;
}
#paper:active {
    background-color: #ffffff;
    box-shadow: 0 5px #404142;
}
#paper:hover {
    border: 5px solid rgb(30, 223, 30);
    transform: scale(1.2);
}
#scissor {
    background-image: url('images/scissor-anm.gif');
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    cursor:pointer;
}
#scissor:active {
    background-color: #ffffff;
    box-shadow: 0 5px #404142;
    
}
#scissor:hover {
    border: 5px solid #116ba0;
    transform: scale(1.2);
}
#restart-btn {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 15px;
    width: 100px;
    height: 50px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    cursor:pointer;
}
#restart-btn:active {
    background-color: #ffffff;
    box-shadow: 0 5px #696969;
}
#restart-btn:hover {
    transform: scale(1.2);
}
footer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 135, 135)
}

    