
#rock {
    background-image: url('images/rock-anm.gif');
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    cursor:pointer;
}
#rock:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#paper {
    background-image: url('images/paper-anm.gif');
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    cursor:pointer;
}
#paper:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#scissor {
    background-image: url('images/scissor-anm.gif');
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    cursor:pointer;
}
#scissor:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


    